/* style for index.html */

* {
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

body {
    background-image: linear-gradient(to right, #1c87c9, #f8f8f8);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    color: #0088cc;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
}

header h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar a {
    float: left;
    display: block;
    color: #00aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar a:hover {
    background-color: #ddd;
    color: #00aaff;
}

.nav-item {
    float: left;
    display: block;
    color: #00aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item:hover {
    color: #00aaff;
}

select {
    font-size: 1.5rem;
    margin-right: 6.5em;
    text-align: center;
}

.button {
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

main {
    padding: 10px;
    margin: auto;
    line-height: 2em;
}

main h1 {
    font-size: 2rem;
    margin: 0;
    color: #00aaff;
    line-height: 2em;
}

main h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #00aaff;
}

main h5 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #0088cc;
    font-weight: 900;
}

main p {
    margin: 0;
    color: #00aaff;
    text-align: center;
    font-weight: 700;
}

a {
    color: #00aaff;
    text-decoration: none;
    text-align: center;
}
main img {
    width: 100%;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
.form-group {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    color: #00aaff;
}
.exampleFormControlSelect1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    color: #00aaff;
}

.btn {
    width: 100%;
    background-color: #00aaff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #fff;
    color: #00aaff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

footer p {
    margin: 0;
}
