*{
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

header, body{
    background-image: linear-gradient(to right, #1c87c9, #f8f8f8);
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar a {
    float: left;
    display: block;
    color: #00aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar a:hover {
    background-color: #ddd;
    color: #00aaff;
}

.nav-item {
    float: left;
    display: block;
    color: #00aaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item:hover {
    color: #00aaff;
}

header{
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #00aaff;
    text-align: center;
    font-weight: 700;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
}

header h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.searchbar button{
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.searchbar input{
    font-size: 25px;
    flex-basis: 0 0 250px;
    width: 50%;
}

.flex-container-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container{
    flex:5;
    display: flex;
    flex-direction: row;
}

.userinput{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    padding: 0.5rem 2rem;
    align-items: center;
}

.options{
    flex: 1;
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    padding: 0.5rem 2rem;
}

.userinput h1{
    color: #00aaff;
    font-size: 28px;
    font-weight: bold;
}

.choice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #eee;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    padding: 0.5rem 2rem;
}

.option{
    flex: 1;
    background-color: #eee;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    padding: 0.5rem 2rem;
}

.filter{
    flex: 0.5;
}

.option h1{
    font-size: 1rem;
    font-weight: bold;
}

form label{
    font-size: 26px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input{
    height: 26px;
    width: 26px;
}

.artistgen input{
    height: 16px;
    width: 16px;
}
.search{
    width: 100%;
}

.range{
    width: auto;
}

footer {
    margin-top: 5px;
    background-color: #fff;
    color: #00aaff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

footer p {
    margin: 0;
    text-align: left;
}



/* Table Style */
table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table td{
    border-bottom: 1px solid #d3d3d3 ;
    padding: .5em;
}

thead th{
    height: 2rem;
    text-align: left;
    color: #00aaff;
    background-color: #d3d3d3;
    padding: 0.5em;
    border-bottom: 1px solid #d3d3d3;
}

table img {
    width: 100px;
    height: 100px;
}

tbody {
    background-color: #eee;
}

select {
    font-size: 1.5rem;
    margin-right: 6.5em;
    text-align: center;
}

main {
    padding: 10px;
    margin: auto;
    line-height: 2em;
}

main h1 {
    font-size: 2rem;
    margin: 0;
    color: #00aaff;
    line-height: 2em;
}

main h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #f8f8f8;
}

main h5 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #0088cc;
    font-weight: 900;
}

main p {
    margin: 0;
    color: #00aaff;
    text-align: center;
    font-weight: 700;
}

a {
    color: #00aaff;
    text-decoration: none;
    text-align: center;
}
main img {
    width: 100%;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
.form-group {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    color: #00aaff;
}
.exampleFormControlSelect1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    color: #00aaff;
}

.btn {
    width: 100%;
    background-color: #00aaff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.actions {
    border: none;
    background-color: inherit;
    padding: 14px 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: normal;
}

table img {
    width: 100px;
    height: 100px;
}


/* playlist.css */

.playlist_header {
    height: 300px;
}

.playlist_div {
    border: 20px;
    width: 300px;
    padding: 50px;
    margin: 20px;
}

/* playlist genre button */
.play_list_title_relative {
    left: 400px;
    top: 300px;
    position: absolute;
}

/* playlist city button */
.play_list_city_pos {
    left: 700px;
    top: 300px;
    position: absolute;
}

/* 200 button */
.play_list_top_pos {
    left: 980px;
    top: 345px;
    position: absolute;
}

/* discovery button */
.play_list_dis_pos {
    left: 1135px;
    top: 345px;
    position: absolute;
}
/* App button */
.play_list_app_pos {
    left: 1300px;
    top: 345px;
    position: absolute;
}



.playlist_title{
    font-size: 10px;
    position: relative;
}


.song_in_play_list {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 85vw;
    margin-left: 7.5vw;
    height: 60px;
    background-color: lightblue;
}

.pic_in_play_list {   
    height: 40px;
    width: 40px;
    position: relative;
    left: 13px;
    top: 10px;
}

.song_title_in_play_list {
    position: relative;
    top: -50px;
    left: 67px;
    color: black;
    font-size: 15px;
}

.author_in_play_list {
    position: relative;
    left: 67px;
    top: -63px;
    color: black;
    font-size: 13px;
}

.btn_play_list {
    position: relative;
    top: -110px;
    left: 1200px;
    color:lightblue;
    
}

.btn_title {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    color: #00aaff;
}

.btn_tda {
    width: 100%;
    background-color: #00aaff;
    padding: 14px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}